.signupWrapper {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.form {
  margin-top: 15px;
}

.formFields {
  margin-bottom: 15px;
}

.formFields label {
  font-size: 17px;
  display: block;
  font-weight: 525;
}


.inputGroup {
  margin-bottom: 15px;
}

.inputWrapper {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  max-width: 480px;
}

.input {
  padding: 12px 14px;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  text-align: left;
}

.inputError {
  border: 1px solid red;
}

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.submitButton {
  width: 100%;
  background-color: #313deb;
  color: #ffffff;
  padding: 11px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.loginPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.loginText {
  font-size: 17px;
  color: #6b7280;
}

.loginLink {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 0.6px;
}

.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.dividerLine {
  flex: 1;
  height: 1px;
  background-color: #e5e7eb;
}

.dividerText {
  padding: 0 5px;
  font-size: 9px;
  color: #6b7280;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 9px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  margin-top: 25px;
}

.googleIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.errorText {
  color: red;
  font-size: 1rem;
  transform: translate(0px, -50px);
}

