.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 110vw;
    height: 210vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 0.6vw;
    transform: translate(-50vw, -25vw);
  }
  
  .container {
    border-radius: 0.6vw;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(4vw, 10vw);
    
    max-width: 49.25vw;
    width: 100%;
    border: 1px solid #d9d9d9;
  }
  
  .header {
    display: flex;
    border-top: 1px solid var(--border-dividers, #E5E7EB);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: rgba(208, 220, 255, 0.28);
    padding-top:1.975vw;
    padding-left:1.8vw;
    padding-right:1.8vw;
  }
  
  .title {
    font-size: 1.1vw;
    font-weight: 600;
    letter-spacing: 0.0105vw;
    color: #000000;
    transform: translate(-1.0vw, -0.8vw);
  }
  
  .headerIcon {
    width: 0.9vw;
    /* height: auto; */
    cursor: pointer;
    transform: translate(0.6vw,-0.8vw);
  }
  .headerIcon:hover{
    outline: 2px solid rgba(169, 169, 169, 0.5);
    outline-offset:0.01vw ;
    border-radius: 1vw;
    box-shadow:inset 0 0 0 1.4vw rgba(169, 169, 169, 0.5) ;
  }
 
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 1.0vw;
    margin-top: 1vw;
    padding:1.075vw 2.3vw;
    height:29.25vw;
  }
  
  .row {
    display: flex;
    gap: 1.7vw;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .label {
    font-size: 1.2vw;
    margin-bottom: 0.1vw;
    color: #000000;
    font-weight: 500;
  }
  
  .input,
  .textarea {
    border: 1px solid #d9d9d9;
    border-radius: 0.4vw;
    padding: 0.6vw;
    font-size: 1.2vw;
    font-weight: 400;
    width: 100%;
    color:#545251;
  }
  .input::placeholder{
    color:#545251;
  }
  .select option:first-child{
    color:#545251;
    font-weight: 400;
    font-size: 1.9vw;
  }
  .textarea {
    resize: none;
    height: 9vw;
    color:#545251;
  }
  textarea::placeholder{
    color:#545251;
  }
  
  .checkboxGroup {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-top: 1vw;
  }
  
  .checkbox {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 3.667px;
border: 1.375px solid #B4B4B8;
background: var(--Basic-Forms-Checkbox-Check-Icon-Background-Bg-Color, #FFF);
  }
  
  .checkboxLabel {
    font-size: 1.2vw;
    color:#545251;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 1.0vw;
    margin-top: 1.0vw;
    background: #F2F5FF;
    height:4.5vw;
    border-top: 1px solid var(--border-dividers, #E5E7EB);
  }
  
  .cancelButton,
  .saveButton {
    padding: 0.1vw 1vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    height: 2.8vw;
    margin-top:1vw;
    margin-right: 1vw;
  }
  
  .cancelButton {
    border: 1px solid var(--Components-Button-White-Border-Color, #E5E7EB);
background: var(--Components-Button-White-Bg-Color, #FFF);
font-weight: 500;
    transform: translate(1.3vw, 0vw);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color:#1F2937
  }
  
  .saveButton {
    border-radius: var(--Components-Button-Border-Radius, 8px);
background: var(--Accent-clr, #313DEB);
color: #FFF;
  }
  