.banner-container {
    position: relative;
    width: 100%;
    height: 416px;
    overflow: hidden;
    border-radius: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 85px;
    padding-right: 85px;
    background-size: cover;
    margin-top: 37px;

  }
  
  .banner-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0.9);
  }
  

  