body {
  font-family: 'Gellix', sans-serif;
}

.about-container {
  display: flex;
  height: 54.5834vw;
  gap: 7.0834vw;
  padding: 2.0834vw;
  background-color: #313deb;
  color: #fff;
}

.infoSectionFive {
  max-width: 38.645834vw;
  width: 35%;
  height: 24.6875vw;
  
  margin-left: 5.729167vw;
  margin-top: 5vw;
  text-align: left;
}

.infoTitleFive {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.45834vw;
  margin-top: 0vw;
    margin-bottom: 0.729167vw;
}

.mainTitleFive {
  font-size: 2.604167vw;
  font-weight: 600;
  line-height: 2.8645834vw;
  margin-bottom: 0vw;
  margin-top: 0vw;
  color: var(--Primary-text-clr, #fff);
    text-align: left;
    font-family: Gellix;
}

.description {
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.8229167vw;
  margin-top: 0.834vw;
  margin-bottom: 2.604167vw;
}

.contact-button {
  background-color: #fff;
  color: #313deb;
  border: none;
  padding: 0.834vw 1.67vw;
  border-radius: 0.834vw;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.5vw;
  cursor: pointer;
}


.faqList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
  margin-right: 5.729167vw;
  margin-top: 5vw;
}

.video-section{
  margin-top: -18.75vw;
  margin-left: auto;
  margin-right: auto;

  height: 41.67vw;
}

.video{
  width: 78.125vw;
  border-radius: 1.67vw;
  height: 41.67vw;
}

.videoSec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

