@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gellix';
  src: url('./assets/fonts/Gellix-Regular.woff2') format('woff2'),
       url('./assets/fonts/Gellix-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gellix', sans-serif;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar hiding utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
